DOCTYPE
html(lang="en")
head
	meta(charset="UTF-8")
	title Ejemplos Pug
body
	a(class='button',href='google.com',target='_blank') Google
	a(class='button' href='google.com' target='_blank') Google
	input(
		type='checkbox'
		name='agreement'
		cheked
	)
	input(
		type='checkbox' 
		checked
	)
	input(
		type='checkbox' 
		checked=true
	)
	a(style={color:'white',background:'crimson'}) Riders of the storm
	a.button


	style(stylesheet).
		.classname { property: Value; }

		p#valueunique {
			property1: value1;
			property2: value2;
			property3: value3;


		}
	


